body{
    background-color: rgba(245, 245, 245, 0.901);
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
#header {
    background-color: rgb(231, 79, 24,0.902);
    width: 100%;
    height: 80px;
    margin-top: none;
    color:whitesmoke;
    font-size: 4em;
    padding-left: 30px;
}
#inputCity{
    border:none;
    border-radius: 50px;
    box-shadow: 2px 2px rgba(43, 41, 40, 0.904);
    margin-left: 25%;
    margin-top: 2%;
    font-size: 2rem;
    padding: 15px;
}

#searchButton{
    border:none;
    border-radius: 50px;
    box-shadow: 2px 2px rgba(168, 106, 75, 0.904);
    margin-left: 15px;
    margin-top: 2%;
    font-size: 2rem;
    padding: 15px;
    color: whitesmoke;
    background-color: rgba(231, 79, 24, 0.902);
    cursor: pointer;
}
#searchButton:hover{
    background-color: rgba(231, 79, 24, 0.743);;
}
#searchButton:active{
    background-color: rgba(212, 62, 8, 0.902);
}
#footer{
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: 80px;
    position:fixed;
    bottom: 0;
}